.exterminate {
  position: relative;
  margin: 30px 0 -45px;
}
.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;

  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  background: #2f7648;
}
.back-btn {
  left: 0;
}

.slider ul {
  display: flex;
  width: 150%;
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
}
.slider {
  overflow: hidden;
  width: 170%;
  height: 100%;
}
.slider ul li {
  list-style: none;
  width: 50%;
  padding: 20px;
}
.slide {
  box-shadow: 0 0 60px rgba(39, 83, 26, 0.09);
  padding: 40px;
  border-radius: 10px;
  color: #063c19;
  line-height: 1.4;
}
.slide img {
  width: 150px;
  border-radius: 10%;
  margin-right: 10px;
  border: 1px solid #2c5e09;
}
.pests {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

@media (max-width: 800px) {
  .exterminate {
    padding: 0 40px;
  }
}
