.hero {
  width: 100%;
  min-height: 100vh;
  background: url("./Pictures/picture1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  background-position: center;
  color: black;
}
