@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.Btn {
  background-color: white;
  color: #2d754a;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-decoration: none;
}

.logo2 {
  width: 12%;
  display: block;
  margin: auto;
  padding: 40px 0 10px;
}
@media (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.btn {
  padding: 14px 22px;
}
