nav {
  width: 100%;
  color: #ffff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.logo {
  width: 80px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  margin: 4px 20px;
}
.Btn {
  background-color: white;
  color: #2d754a;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.dark-nav {
  background: #2d754a;
  transition: 0.5s;
}
