.Offer {
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  background: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}
.Offer h1 {
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 30px;
  color: #063c19;
}

.Row {
  font-size: 18px;
}
.Col {
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px 10px;
  padding: 30px 30px;
}
