.Offer {
  background-color: #2d754a;
  align-items: center;
  width: 100%;
}
.Offer h1 {
  text-align: center;
  padding: 20px 0 20px 0;
}
.Row {
  font-size: 18px;
}
.Col {
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px 10px;
}
